@using System.Security.Claims;
@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject HttpClient HttpClient
@inject AuthenticationStateProvider CustomAuthenticationStateProvider
@using Microsoft.AspNetCore.WebUtilities;
@using Microsoft.Extensions.Localization;
@using System.Globalization;
@inject IStringLocalizer<MainLayout> L;
<div class="page" dir="@_textDirection">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
             <LanguageSelector />
            <AuthorizeView>
                <Authorized>
                   <button type="submit" class="btn btn-primary" @onclick="LogOut">@L["log-out"]</button>

                </Authorized>

            </AuthorizeView>

          </div>
        
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code 
{
    private string _textDirection => CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "rtl" : "ltr";
    private async Task LogOut()
    {
        await HttpClient.GetAsync("/logoutuser");
        Navigation.NavigateTo("/", true);
        
    }
   
}